.logoImage {
    grid-column: 1 / 5;
    width: 150px;
    height: 100px;
    align-items: start;
}

.headHeadline {
    grid-column: 5 / 8;
    color: white;
    text-align: center;
}

.visitorMessage {
    text-align: left;
    color: white;
}